{{extend 'layout.html'}}
{{from datetime import *}}
{{now = datetime.strptime(datetime.now().strftime('%Y/%m/%d %H:%M:%S'), '%Y/%m/%d %H:%M:%S')}}

<!-- include stylesheets -->
{{
  response.files.insert(0,URL('static','css/plugins/morris/morris-0.4.3.min.css'))
}}
<div class="row">
    <div id="info_panel">
        {{=IMG(_src=URL('static','images/info_icon200_modB.png'),_id="info_icon")}}
        <div class="info_text1">
            SHA256d
            <div class="info_subtext" id="hashes1"> <!--562,46 MH/s--> </div>
        </div>
        <div class="info_text1">
            scrypt
            <div class="info_subtext" id="hashes2"> <!--241,45 KH/s--> </div>
        </div>
        <div class="info_text3">
            others
            <div class="info_subtext" id="hashes3"> <!--105,40 MH/s--> </div>
        </div>
    </div>
    <div id="donut-example1" style="height: 250px; float:left; margin-top:40px;"></div>
    <!--div id="line-example2" style="height: 250px;"></div-->
    <br/>
    <div id="line-example3" style="height: 250px; width: 80%; margin-left:30px;"></div>
</div>
<!-- /.row -->

<!-- Page-Level Plugin Scripts - Morris -->
<script src="{{=URL('static','js/plugins/morris/raphael-2.1.0.min.js')}}"></script>
<script src="{{=URL('static','js/plugins/morris/morris.js')}}"></script>


<script>
    var json = (function () {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': '{{=URL('dashboard', 'donut.json')}}',
                'dataType': "json",
                'success': function (data) {
                    json = data;
                }
            });
            return json;
        })();
  var testData = json['rows'];
  new Morris.Donut({
      element: 'donut-example1',
      data: testData,
      resize: true
  });
</script>

<script>
    var json1 = (function () {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': '{{=URL('charts', 'data1.json')}}',
                'dataType': "json",
                'success': function (data) {
                    json = data;
                }
            });
            return json;
        })();
  var testData = json1['rows'];
  new Morris.Line({
      element: 'line-example2',
      data: testData,
      xkey: 'timestamp',
      ykeys: ['hash_rate'],
      labels: ['Hash Rate'],
      hideHover: 'auto'
  });
</script>

<script>
    var json2 = (function () {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': '{{=URL('charts', 'grouped_hashes_data.json')}}',
                'dataType': "json",
                'success': function (data) {
                    json = data;
                }
            });
            return json;
        })();
  var testData = json2['rows'];
  new Morris.Line({
      element: 'line-example3',
      data: testData,
      xkey: 'time',
      ykeys: ['BitCoin', 'LiteCoin', 'TerraCoin', 'NovaCoin'],
      labels: ['BitCoin (MH/s)', 'LiteCoin (KH/s)', 'TerraCoin (KH/s)', 'NovaCoin (KH/s)'],
      hideHover: 'auto'
  });
</script>
