{{extend 'layout.html'}}
<h1>Machine Dash</h1>
    <div class="web2py_grid ">
        <div class="web2py_table">
			<div class="web2py_htmltable" style="width:100%;overflow-x:auto;-ms-overflow-x:scroll">
				<table>
					<thead>
						<tr>
							<th>
								<a>Machine name</a>
							</th>
							<th>
								<a>IP</a>
							</th>
							<th>
								<a>Port</a>
							</th>
							<th>
								<a>Alive</a>
							</th>
							<th>
								<a>Platform</a>
							</th>
							<th>
								<a>Miner</a>
							</th>
							<th>
								<a>Start time</a>
							</th>
							<th>
								<a>Stop time</a>
							</th>
						</tr>
					</thead>
				{{i=1}}
				{{for row in rows:}}
					<tbody>
					{{if (i%2)==1:}}
						<tr class="w2p_even even with_id">
					{{else:}}
						<tr class="w2p_odd odd with_id">
						{{pass}}
						<td>
							{{=row.machine.name}}
						</td>
						<td>
							{{=row.machine.ip}}
						</td>
						<td>
							{{=row.machine.port}}
						</td>
						<td>
							{{=row.machine.alive}}
						</td>
						<td>
							{{=row.platform.os}} - {{=row.platform.type}} - {{=row.platform.arch}}
						</td>
						<td>
							{{=row.miner.name}} - v{{=row.miner.version}}
						</td>
						<td>
							{{=row.worker.time_start}}
						</td>
						<td>
							{{=row.worker.time_stop}}
						</td>
					</tr>
                {{i+=1}}
				{{pass}}
				</tbody>
				</table>
			</div>
		</div>
	</div>
